/* You can add global styles to this file, and also import other style files */


@import "tailwindcss";

@theme {
    --color-mint-500: oklch(0.72 0.11 178);

    --animate-fadeIn-50: fadeIn 50ms ease;  
    --animate-fadeIn-100: fadeIn 100ms ease;  
    --animate-fadeIn-150: fadeIn 150ms ease;  
    --animate-fadeIn-200: fadeIn 200ms ease;  
    --animate-fadeIn-250: fadeIn 250ms ease;  
    --animate-fadeIn-300: fadeIn 300ms ease;  
    --animate-fadeIn-350: fadeIn 350ms ease;  
    --animate-fadeIn-400: fadeIn 400ms ease;  
    --animate-fadeIn-450: fadeIn 450ms ease;  
    --animate-fadeIn-500: fadeIn 500ms ease;  
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(40px)
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
            transform: none
        }
    }

    --animate-appear: ping 350ms;
    @keyframes ping {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    75%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    }
}

