on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    environment: build
    steps:
      - name: display env vars
        run: |
          echo $TEST_VAR
          echo $ENVIRONMENT_STAGE
        env:
          ENVIRONMENT_STAGE: ${{ vars.TEST_VARIABLE }}
          TEST_VAR: "Hello from the ting!"


