on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.12'
          ssh-private-key: ${{ secrets.TEST_VARIABLE }}

      - name: Install Dependencies
        run: |
          echo $ssh-private-key
          npm install

      - name: Build Node Project
        run: npm run build


